{deps, [
    {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", {tag, "1.4"}}},
    {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}}
  ]}.

{edoc_opts, [ {new, true}
            ]}.

%% This doesn't work for tests order
%% {eunit_first_files, ["test/global_cleanup_test.erl"]}.
